body {
  background-color: #000;
  overflow: hidden;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align at the top */
  height: 100vh; /* Use the full viewport height */
}

canvas {
  display: block;
  margin: 0 auto;
  top: 50px;
}
.score-container {
  display: flex;
  flex-direction: row; /* Stack elements horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  margin-top: 30px; /* Adjust the top margin as needed */
}

.score-container .score,
.score-container .high-score,
.score-container #level-text /* Apply styling to the level text */
{
  color: #1660af;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border: 2px solid #e20000;
  border-radius: 10px;
  width: 150px; /* Adjust the width as needed */
  display: flex; /* Allow the content to be centered */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  margin-right: 10px; /* Add some spacing between score and high score */
}

.score-container .high-score {
  font-size: 16px;
}

#pause-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid #e20000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

#pause-button {
  background: none; /* Make the background transparent */
  color: #1660af;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border: 2px solid #e20000;
  border-radius: 10px;
  width: 150px; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}


#pause-button:hover {
  /* Define the styles for the hover effect */
  background-color: #00b9e2; /* Change the background color on hover */
  color: #000; /* Change the text color on hover */
  text-shadow: none; /* Remove the text shadow on hover */
  border-color: #fff; /* Change the border color on hover */
}