/* Reset styles for body and margins */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: black;
  overflow: hidden; 
  position: relative; 
}

/* Style for the blurred background */
.blurry-background {
  background-image: url('/Screenshot\ 2023-09-14\ at\ 2.06.58\ PM.png');
  filter: blur(10px); /* Apply a blur effect */
  position: fixed;
  top: 20px;
  left: 300px;
  width: 100vh; /* Set width to 100vh for full viewport coverage */
  height: 100vh; 
  z-index: -1;
  background-size: cover;
  background-size: contain; /* Fit the image within the viewport */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}



/* Center content vertically and horizontally */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

/* Style for the title */
.title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #0aebc5;
  margin-bottom: 20px;
}

/* Style for the play button container */
.play-button-container {
  text-align: center;
}

/* Style for the play button */
#play-button {
  background-color: #00b9e2; 
  color: #ffffff; 
  font-size: 16px; 
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px; 
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

/* Hover effect for the play button */
#play-button:hover {
  background-color: #0aebc5; /* Bright turquoise on hover */
}

/* Style for the score container, high score, and level text */
.score-container {
  font-size: 18px;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 10px; 
}

/* Style for the game title */
.game-title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #0aebc5;
  margin-top: 20px; 
  text-align: center; 
  position: absolute; 
  top: -60px; 
  left: 0;
  right: 0;
}

.score-container .score,
.score-container .high-score,
.score-container #level-text {
  color: #0ae0eb;
  font-size: 20px; 
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border: 2px solid #0352ba;
  border-radius: 10px;
  width: auto; 
  margin-right: 20px; 
}

.score-container .high-score {
  font-size: 15px;
}

#level-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 2px;
}

#level-text {
  color: #ffffff;
  font-size: 20x;
}

canvas {
  display: block;
  margin: 0 auto;
  top: 50px;
}

.title {
  color: #0aebc5;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
